extend ../layout/layout
block title
  title Home
block content
  #welcome
    p
      | Welcom to XYZ corporation
    p
      | Enjoy shopping
  #search-result
block script_files
  script(src='/static/js/searchBar.js')